a {
    color: blue;
}
@media screen and (max-width: 1000px) {
    body {
        background-color: lightblue;
      }
}
.rainblock {
    background-color: burlywood;
}
.queendead {
    background-color: rgb(222, 149, 149);
}
.shadesblock {
    background-color: rgb(232, 106, 106);
}
.sentpart0 {
    font-weight: bold;
}

